@charset "UTF-8";
/* Settings and Tools */ /*------------------------------------*\
  Border radius Settings
\*------------------------------------*/
/*------------------------------------*\
  Breakpoint Settings
\*------------------------------------*/
/* ------------------------------------ *\
   Color Settings
\* ------------------------------------ */
/* ------------------------------------ *\
   All block elements
\* ------------------------------------ */
/* ------------------------------------ *\
   All heading elements
\* ------------------------------------ */
/* ------------------------------------ *\
   All text inputs
\* ------------------------------------ */
/* ------------------------------------ *\
   All button elements
\* ------------------------------------ */
/*------------------------------------*\
  Spacing Settings
\*------------------------------------*/
/*------------------------------------*\
  Transition Settings
\*------------------------------------*/
/*------------------------------------*\
  Typography Settings
\*------------------------------------*/
/*------------------------------------*\
  Z-Index Settings
\*------------------------------------*/
/*------------------------------------*\
  Map Get Deep Tools
\*------------------------------------*/
/*------------------------------------*\
  Border radius Tools
\*------------------------------------*/
/*------------------------------------*\
  Breakpoint Tools
\*------------------------------------*/
/* ------------------------------------ *\
   Color Tools
\* ------------------------------------ */
/* Text contrast */
/* ------------------------------------ *\
   Interactive Tools
\* ------------------------------------ */
/*------------------------------------*\
  Spacing Tools
\*------------------------------------*/
/* ------------------------------------ *\
   Strip Unit
\* ------------------------------------ */
/*------------------------------------*\
  Transition Tools
\*------------------------------------*/
/*------------------------------------*\
  Typography Tools
\*------------------------------------*/
/* ------------------------------------ *\
   Visuallyhidden Tools
\* ------------------------------------ */
/*------------------------------------*\
  Z-Index Tools
\*------------------------------------*/
/* Resets */
/*@import 'normalize';*/
/* Main Config */
/* ------------------------------------ *\
   Namespace for the CSS classes
\* ------------------------------------ */
/* ------------------------------------ *\
   Google Fonts
\* ------------------------------------ */
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800&family=Bungee+Inline&family=Spectral:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* ------------------------------------ *\
   Basic Configurations
   - For more specific configurations,
     go to settings.
\* ------------------------------------ */
:root {
  /* Custom font settings */
  --hymma-custom-font-text-weight: 400;
  --hymma-custom-font-heading-weight: 400;
  --hymma-custom-font-xsmall-heading-weight: 800;
  --hymma-custom-font-lede-weight: 800;
  /* Responsive page font-size. Only edit the vw value, never set this less than 100%. */
  --hymma-font-size: clamp(100%, 100% + 0.45vw, 160%);
  /* Global design tokens */
  --hymma-text-color: var(--hymma-color-gray-dark);
  --hymma-bg-color: var(--hymma-color-gray-light);
  --hymma-link-color: var(--hymma-color-red-dark);
}

/* CSS Vars */
:root {
  --hymma-color-blue-xlight: 228.1, 70%, 70%;
  --hymma-color-blue-light: 228.1, 70%, 60%;
  --hymma-color-blue: 228.1, 70%, 50%;
  --hymma-color-blue-dark: 228.1, 70%, 35%;
  --hymma-color-blue-xdark: 228.1, 70%, 20%;
  --hymma-color-purple-light: 282.6, 55%, 60%;
  --hymma-color-purple: 282.6, 55%, 45%;
  --hymma-color-purple-dark: 282.6, 55%, 25%;
  --hymma-color-green-light: 120, 60%, 55%;
  --hymma-color-green: 120, 60%, 40%;
  --hymma-color-green-dark: 120, 60%, 25%;
  --hymma-color-red-light: 0, 100%, 55%;
  --hymma-color-red: 0, 100%, 40%;
  --hymma-color-red-dark: 0, 100%, 30%;
  --hymma-color-orange-light: 16.2, 100%, 60%;
  --hymma-color-orange: 16.2, 100%, 50%;
  --hymma-color-orange-dark: 16.2, 100%, 35%;
  --hymma-color-gold-light: 42.7, 90%, 60%;
  --hymma-color-gold: 42.7, 90%, 50%;
  --hymma-color-gold-dark: 42.7, 90%, 35%;
  --hymma-color-gray-light: 0, 0%, 96%;
  --hymma-color-gray: 0, 0%, 55%;
  --hymma-color-gray-dark: 0, 0%, 10%;
  --hymma-color-black: 0, 0%, 1%;
  --hymma-color-white: 0, 0%, 100%;
}

:root {
  --hymma-v-spacing-xxlarge: 10rem;
  --hymma-v-spacing-xlarge: 5rem;
  --hymma-v-spacing-large: 2.5rem;
  --hymma-v-spacing-medium: 1.25rem;
  --hymma-v-spacing-small: 0.625rem;
  --hymma-v-spacing-xsmall: 0.3125rem;
  --hymma-v-spacing-xxsmall: 0.15625rem;
  --hymma-h-spacing-xxlarge: 16rem;
  --hymma-h-spacing-xlarge: 8rem;
  --hymma-h-spacing-large: 4rem;
  --hymma-h-spacing-medium: 2rem;
  --hymma-h-spacing-small: 1rem;
  --hymma-h-spacing-xsmall: 0.5rem;
  --hymma-h-spacing-xxsmall: 0.25rem;
}

:root {
  --hymma-typeface-body: Spectral, Georgia, serif;
  --hymma-typeface-heading: Bungee Inline, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  --hymma-typeface-smallcap: Alegreya Sans SC, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  --hymma-typeface-mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
  --hymma-type-size-xxxlarge-max: 4rem;
  --hymma-type-size-unitless-xxxlarge-max: div(4rem, 1rem);
  --hymma-type-size-xxxlarge-min: 3rem;
  --hymma-type-size-unitless-xxxlarge-min: div(3rem, 1rem);
  --hymma-type-size-xxlarge: 2.25rem;
  --hymma-type-size-unitless-xxlarge: div(2.25rem, 1rem);
  --hymma-type-size-xlarge: 1.85rem;
  --hymma-type-size-unitless-xlarge: div(1.85rem, 1rem);
  --hymma-type-size-large: 1.45rem;
  --hymma-type-size-unitless-large: div(1.45rem, 1rem);
  --hymma-type-size-medium: 1rem;
  --hymma-type-size-unitless-medium: div(1rem, 1rem);
  --hymma-type-size-small: 0.85rem;
  --hymma-type-size-unitless-small: div(0.85rem, 1rem);
  --hymma-type-size-xsmall: 0.65rem;
  --hymma-type-size-unitless-xsmall: div(0.65rem, 1rem);
  --hymma-type-size-xxsmall: 0.5rem;
  --hymma-type-size-unitless-xxsmall: div(0.5rem, 1rem);
  --hymma-line-height-xxtight: 1.125;
  --hymma-line-height-xtight: 1.245;
  --hymma-line-height-tight: 1.38;
  --hymma-line-height-regular: 1.5;
  --hymma-line-height-loose: 1.755;
}

/* Vanilla Elements */
/* ------------------------------------ *\
   Global elements
\* ------------------------------------ */
*, *:before, *:after {
  box-sizing: border-box;
  font-feature-settings: "kern";
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
}

html {
  line-height: 1.5;
  letter-spacing: 0.005rem;
  font-family: var(--hymma-typeface-body);
  font-size: var(--hymma-font-size);
}

p, blockquote, details, dd, dl, fieldset, figure, li, ol, pre, ul {
  margin-top: 0;
  margin-bottom: var(--hymma-v-spacing-medium);
}
p:last-child, blockquote:last-child, details:last-child, dd:last-child, dl:last-child, fieldset:last-child, figure:last-child, li:last-child, ol:last-child, pre:last-child, ul:last-child {
  margin-bottom: 0;
}

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: calc(var(--hymma-type-size-unitless-xsmall) * 1em);
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

hr {
  display: block;
  margin-top: 0;
  margin-bottom: var(--hymma-v-spacing-medium);
  box-sizing: content-box;
  width: 100%;
  height: 0;
  overflow: visible;
  border: none;
  border-bottom: 1px solid hsla(var(--hymma-text-color), 0.1);
}

emoji {
  display: inline;
  font-size: 0.8em;
  font-style: normal;
  text-shadow: none;
  vertical-align: baseline;
}

/* ------------------------------------ *\
   Accordion
\* ------------------------------------ */
.c-hymma-accordion {
  display: block;
  min-width: 150px;
  margin-bottom: var(--hymma-v-spacing-medium);
  text-align: left;
  text-align: start;
}
.c-hymma-accordion:last-child {
  margin-bottom: 0;
}
.c-hymma-accordion.is-comfortable .c-hymma-accordion__trigger {
  padding-top: var(--hymma-v-spacing-large);
  padding-right: var(--hymma-h-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-large);
  padding-left: var(--hymma-h-spacing-medium);
  padding-right: calc(var(--hymma-h-spacing-small) * 3);
}
.c-hymma-accordion.is-comfortable .c-hymma-accordion__trigger__icon {
  padding-top: var(--hymma-v-spacing-large);
  padding-right: var(--hymma-h-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-large);
  padding-left: var(--hymma-h-spacing-medium);
}
.c-hymma-accordion.is-comfortable .c-hymma-accordion__content {
  padding-top: var(--hymma-v-spacing-large);
  padding-right: var(--hymma-h-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-large);
  padding-left: var(--hymma-h-spacing-medium);
}
.c-hymma-accordion.is-compact .c-hymma-accordion__trigger {
  padding-top: var(--hymma-v-spacing-xsmall);
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-bottom: var(--hymma-v-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
  padding-right: calc(var(--hymma-h-spacing-xsmall) * 3);
}
.c-hymma-accordion.is-compact .c-hymma-accordion__trigger__icon {
  padding-top: var(--hymma-v-spacing-xsmall);
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-bottom: var(--hymma-v-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
}
.c-hymma-accordion.is-compact .c-hymma-accordion__content {
  padding-top: var(--hymma-v-spacing-xsmall);
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-bottom: var(--hymma-v-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
}

.c-hymma-accordion__item {
  margin: 0;
  padding: 0;
}
.c-hymma-accordion__item + .c-hymma-accordion__item {
  margin-top: 2px;
}
.c-hymma-accordion__item[open] .c-hymma-accordion__trigger__icon {
  -webkit-transform: rotate(-630deg) scale3d(-0.8, 0.8, 0.8) translate3d(0, 0, 0);
  transform: rotate(-630deg) scale3d(-0.8, 0.8, 0.8) translate3d(0, 0, 0);
}

.c-hymma-accordion__trigger {
  padding-top: var(--hymma-v-spacing-small);
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
  position: relative;
  color: hsl(var(--hymma-text-color));
  cursor: pointer;
  outline: none;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  border-radius: 0.75rem;
  display: block;
  margin: 0;
  padding-right: calc(var(--hymma-h-spacing-xsmall) * 4);
  color: hsl(var(--hymma-text-color));
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.c-hymma-accordion__trigger::-moz-focus-inner {
  border: 0;
}
.c-hymma-accordion__trigger:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; /* Puts the gradient below all content by default. */
  opacity: 0.25;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(216deg, hsla(var(--hymma-color-red-light), 0.6), hsla(var(--hymma-color-red-light), 0) 70.71%), linear-gradient(100deg, hsla(var(--hymma-color-purple-light), 0.6), hsla(var(--hymma-color-purple-light), 0) 70.71%), linear-gradient(336deg, hsla(var(--hymma-color-blue), 0.6), hsla(var(--hymma-color-blue), 0) 70.71%);
  background-blend-mode: darken;
  transition: opacity 200ms ease-out;
}
.c-hymma-accordion__trigger:hover, .c-hymma-accordion__trigger:focus {
  color: hsl(var(--hymma-link-color));
}
.c-hymma-accordion__trigger:hover:before {
  opacity: 0.35;
}
.c-hymma-accordion__trigger:focus {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
}
.c-hymma-accordion__trigger:focus:before {
  opacity: 0;
}
.c-hymma-accordion__trigger:active {
  color: hsl(var(--hymma-text-color));
  transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);
}
.c-hymma-accordion__trigger:active:before {
  opacity: 0.5;
}
.c-hymma-accordion__trigger::-webkit-details-marker {
  display: none;
}
.c-hymma-accordion__trigger:before {
  border-radius: 0.75rem;
}
.c-hymma-accordion__trigger:focus .c-hymma-accordion__trigger__icon {
  right: 0.5px; /* This fixes the icon disappearing on focus in Safari. */
}

.c-hymma-accordion__trigger__icon {
  padding-top: var(--hymma-v-spacing-small);
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  color: hsl(var(--hymma-link-color));
  font-family: var(--hymma-typeface-mono);
  font-weight: 700;
  -webkit-transform: rotate(90deg) scale3d(0.8, 0.8, 0.8) translate3d(0, 0, 0);
  transform: rotate(90deg) scale3d(0.8, 0.8, 0.8) translate3d(0, 0, 0);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.c-hymma-accordion__trigger__icon:before {
  content: "❯";
}

.c-hymma-accordion__content {
  padding-top: var(--hymma-v-spacing-small);
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
}

/* ------------------------------------ *\
   Avatar
\* ------------------------------------ */
.c-hymma-avatar {
  border-radius: 0.75rem;
  --c-hymma-avatar-size: 0.85em;
  transform: translateY(0.1em);
  width: var(--c-hymma-avatar-size);
  height: var(--c-hymma-avatar-size);
  vertical-align: baseline;
}

.c-hymma-avatar--small {
  --c-hymma-avatar-size: 1rem;
}

.c-hymma-avatar--medium {
  --c-hymma-avatar-size: 2rem;
}

.c-hymma-avatar--large {
  --c-hymma-avatar-size: 3rem;
}

.c-hymma-avatar--transparent {
  border-radius: 0;
}

.c-hymma-avatar--block {
  display: block;
  transform: none;
}

/* ------------------------------------ *\
   Banner (header of a page)
\* ------------------------------------ */
.c-hymma-banner {
  margin-top: 0;
  margin-bottom: var(--hymma-v-spacing-large);
}
.c-hymma-banner:last-child {
  margin-bottom: 0;
}

.c-hymma-banner--center {
  text-align: center;
}

/* ------------------------------------ *\
   Page Body
\* ------------------------------------ */
.c-hymma-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  color: hsl(var(--hymma-text-color));
  font-size: var(--hymma-type-size-medium);
  background-color: hsl(var(--hymma-bg-color));
}

/* ------------------------------------ *\
   Button
\* ------------------------------------ */
.c-hymma-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  border: 0;
  background: transparent;
  cursor: pointer;
  padding-top: var(--hymma-v-spacing-small);
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
  border-radius: 0.75rem;
  box-shadow: 0 0 0 0.1666rem hsla(var(--hymma-link-color), 0.05);
  position: relative;
  color: hsl(var(--hymma-text-color));
  cursor: pointer;
  outline: none;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  line-height: var(--hymma-line-height-tight);
  white-space: nowrap;
  font-family: var(--hymma-typeface-smallcap);
  font-weight: var(--hymma-custom-font-heading-weight, 900);
  font-size: var(--hymma-type-size-small);
  background-color: hsla(var(--hymma-bg-color), 0.95);
}
.c-hymma-button::-moz-focus-inner {
  border: 0;
}
.c-hymma-button:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; /* Puts the gradient below all content by default. */
  opacity: 0.25;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(216deg, hsla(var(--hymma-color-red-light), 0.6), hsla(var(--hymma-color-red-light), 0) 70.71%), linear-gradient(100deg, hsla(var(--hymma-color-purple-light), 0.6), hsla(var(--hymma-color-purple-light), 0) 70.71%), linear-gradient(336deg, hsla(var(--hymma-color-blue), 0.6), hsla(var(--hymma-color-blue), 0) 70.71%);
  background-blend-mode: darken;
  transition: opacity 200ms ease-out;
}
.c-hymma-button:hover, .c-hymma-button:focus {
  color: hsl(var(--hymma-link-color));
}
.c-hymma-button:hover:before {
  opacity: 0.35;
}
.c-hymma-button:focus {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
}
.c-hymma-button:focus:before {
  opacity: 0;
}
.c-hymma-button:active {
  color: hsl(var(--hymma-text-color));
  transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);
}
.c-hymma-button:active:before {
  opacity: 0.5;
}
.c-hymma-button:before {
  border-radius: 0.75rem;
  border: 2px solid hsla(var(--hymma-link-color), 0.8);
}
.c-hymma-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 48%;
  left: 2px;
  z-index: 0;
  pointer-events: none;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, hsla(var(--hymma-link-color), 0)), to(hsla(var(--hymma-link-color), 0.08)));
  background: linear-gradient(to bottom, hsla(var(--hymma-link-color), 0) 35%, hsla(var(--hymma-link-color), 0.08) 100%);
}
.c-hymma-button.is-comfortable {
  padding-top: var(--hymma-v-spacing-large);
  padding-right: var(--hymma-h-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-large);
  padding-left: var(--hymma-h-spacing-medium);
  font-size: var(--hymma-type-size-large);
}
.c-hymma-button.is-compact {
  padding-top: var(--hymma-v-spacing-xsmall);
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-bottom: var(--hymma-v-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
  font-size: var(--hymma-type-size-xsmall);
}

.c-hymma-button--block {
  display: block;
  width: 100%;
  margin: 0 auto var(--hymma-v-spacing-medium) auto;
}
.c-hymma-button--block:last-child {
  margin-bottom: 0;
}

/* ------------------------------------ *\
   Card
\* ------------------------------------ */
.c-hymma-card {
  padding-top: var(--hymma-v-spacing-small);
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
  border-radius: 0.75rem;
  box-shadow: 0 0 0 0.1666rem hsla(var(--hymma-text-color), 0.05);
  display: flex;
  flex-direction: column;
  margin: 0 auto var(--hymma-v-spacing-medium) auto;
  color: hsl(var(--hymma-text-color));
  text-align: left;
  text-align: start;
  background-color: hsl(var(--hymma-bg-color));
}
.c-hymma-card:last-child {
  margin-bottom: 0;
}
.c-hymma-card.is-comfortable {
  padding-top: var(--hymma-v-spacing-large);
  padding-right: var(--hymma-h-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-large);
  padding-left: var(--hymma-h-spacing-medium);
}
.c-hymma-card.is-compact {
  padding-top: var(--hymma-v-spacing-xsmall);
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-bottom: var(--hymma-v-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
}
.c-hymma-card img:first-child {
  border-radius: 0.75rem;
  display: block;
  margin: var(--hymma-v-spacing-xsmall) auto var(--hymma-v-spacing-small) auto; /* Margin top helps to line up image card and text card if they are placed side by side. */
  max-width: 100%;
}
a.c-hymma-card {
  position: relative;
  color: hsl(var(--hymma-text-color));
  cursor: pointer;
  outline: none;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  text-decoration: none;
  background-color: transparent;
}
a.c-hymma-card::-moz-focus-inner {
  border: 0;
}
a.c-hymma-card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; /* Puts the gradient below all content by default. */
  opacity: 0.25;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(216deg, hsla(var(--hymma-color-red-light), 0.6), hsla(var(--hymma-color-red-light), 0) 70.71%), linear-gradient(100deg, hsla(var(--hymma-color-purple-light), 0.6), hsla(var(--hymma-color-purple-light), 0) 70.71%), linear-gradient(336deg, hsla(var(--hymma-color-blue), 0.6), hsla(var(--hymma-color-blue), 0) 70.71%);
  background-blend-mode: darken;
  transition: opacity 200ms ease-out;
}
a.c-hymma-card:hover, a.c-hymma-card:focus {
  color: hsl(var(--hymma-link-color));
}
a.c-hymma-card:hover:before {
  opacity: 0.35;
}
a.c-hymma-card:focus {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
}
a.c-hymma-card:focus:before {
  opacity: 0;
}
a.c-hymma-card:active {
  color: hsl(var(--hymma-text-color));
  transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);
}
a.c-hymma-card:active:before {
  opacity: 0.5;
}
a.c-hymma-card:before {
  border-radius: 0.75rem;
}

figure.c-hymma-card {
  box-shadow: 0 0 0 0.1666rem hsla(var(--hymma-text-color), 0.05);
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  position: relative;
}
figure.c-hymma-card img:first-child {
  width: calc(100% + var(--hymma-h-spacing-small) * 2);
  max-width: calc(100% + var(--hymma-h-spacing-small) * 2);
  margin-top: calc(var(--hymma-v-spacing-small) * -1);
  margin-right: calc(var(--hymma-h-spacing-small) * -1);
  margin-bottom: calc(var(--hymma-v-spacing-small) * -1);
  margin-left: calc(var(--hymma-h-spacing-small) * -1);
  border-radius: 0 0.75rem 0.75rem 0.75rem;
}
figure.c-hymma-card > a {
  position: relative;
  color: hsl(var(--hymma-text-color));
  cursor: pointer;
  outline: none;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  width: calc(100% + var(--hymma-h-spacing-small) * 2);
  max-width: calc(100% + var(--hymma-h-spacing-small) * 2);
  margin-top: calc(var(--hymma-v-spacing-small) * -1);
  margin-right: calc(var(--hymma-h-spacing-small) * -1);
  margin-bottom: calc(var(--hymma-v-spacing-small) * -1);
  margin-left: calc(var(--hymma-h-spacing-small) * -1);
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  display: block;
  outline: none;
  background-color: transparent;
}
figure.c-hymma-card > a::-moz-focus-inner {
  border: 0;
}
figure.c-hymma-card > a:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; /* Puts the gradient below all content by default. */
  opacity: 0.25;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(216deg, hsla(var(--hymma-color-red-light), 0.6), hsla(var(--hymma-color-red-light), 0) 70.71%), linear-gradient(100deg, hsla(var(--hymma-color-purple-light), 0.6), hsla(var(--hymma-color-purple-light), 0) 70.71%), linear-gradient(336deg, hsla(var(--hymma-color-blue), 0.6), hsla(var(--hymma-color-blue), 0) 70.71%);
  background-blend-mode: darken;
  transition: opacity 200ms ease-out;
}
figure.c-hymma-card > a:hover, figure.c-hymma-card > a:focus {
  color: hsl(var(--hymma-link-color));
}
figure.c-hymma-card > a:hover:before {
  opacity: 0.35;
}
figure.c-hymma-card > a:focus {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
}
figure.c-hymma-card > a:focus:before {
  opacity: 0;
}
figure.c-hymma-card > a:active {
  color: hsl(var(--hymma-text-color));
  transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);
}
figure.c-hymma-card > a:active:before {
  opacity: 0.5;
}
figure.c-hymma-card > a:before {
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  z-index: 1; /* Brings the gradient on top of the image. */
}
figure.c-hymma-card > a img:first-child {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
figure.c-hymma-card figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--hymma-v-spacing-small) var(--hymma-h-spacing-xxsmall);
  color: hsla(var(--hymma-bg-color), 0.95);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  font-family: var(--hymma-typeface-smallcap);
  font-weight: 800;
  font-size: var(--hymma-type-size-xsmall);
  border-radius: 0 0 0 0.75rem;
  background: -webkit-gradient(linear, left top, right top, from(hsla(var(--hymma-text-color), 0.6)), to(hsla(var(--hymma-text-color), 0.4)));
  background: linear-gradient(to right, hsla(var(--hymma-text-color), 0.6), hsla(var(--hymma-text-color), 0.4));
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
}

.c-hymma-card--full-height {
  height: 100%;
}

.c-hymma-card--clickable {
  box-shadow: none;
  position: relative;
  color: hsl(var(--hymma-text-color));
  cursor: pointer;
  outline: none;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  background-color: transparent;
}
.c-hymma-card--clickable::-moz-focus-inner {
  border: 0;
}
.c-hymma-card--clickable:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; /* Puts the gradient below all content by default. */
  opacity: 0.25;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(216deg, hsla(var(--hymma-color-red-light), 0.6), hsla(var(--hymma-color-red-light), 0) 70.71%), linear-gradient(100deg, hsla(var(--hymma-color-purple-light), 0.6), hsla(var(--hymma-color-purple-light), 0) 70.71%), linear-gradient(336deg, hsla(var(--hymma-color-blue), 0.6), hsla(var(--hymma-color-blue), 0) 70.71%);
  background-blend-mode: darken;
  transition: opacity 200ms ease-out;
}
.c-hymma-card--clickable:hover, .c-hymma-card--clickable:focus {
  color: hsl(var(--hymma-link-color));
}
.c-hymma-card--clickable:hover:before {
  opacity: 0.35;
}
.c-hymma-card--clickable:focus {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
}
.c-hymma-card--clickable:focus:before {
  opacity: 0;
}
.c-hymma-card--clickable:active {
  color: hsl(var(--hymma-text-color));
  transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);
}
.c-hymma-card--clickable:active:before {
  opacity: 0.5;
}
.c-hymma-card--clickable:before {
  border-radius: 0.75rem;
}
.c-hymma-card--clickable:focus-within {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
}
.c-hymma-card--clickable:focus-within:before {
  opacity: 0;
}

.c-hymma-card--transparent {
  box-shadow: none;
  padding: 0;
  background-color: transparent;
}
.c-hymma-card--transparent img:first-child {
  border-radius: 3px;
}

/* ------------------------------------ *\
   Code
\* ------------------------------------ */
.c-hymma-code-block,
.c-hymma-code-block .c-hymma-code {
  border-radius: 0.75rem;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: break-word;
}

.c-hymma-code {
  border-radius: 100em;
  box-shadow: 0 0 0 1px hsla(var(--hymma-text-color), 0.1);
  display: inline;
  margin-bottom: var(--hymma-v-spacing-medium);
  padding: 1px var(--hymma-h-spacing-xsmall) 2px var(--hymma-h-spacing-xsmall);
  color: hsl(var(--hymma-bg-color));
  text-align: start;
  text-shadow: none;
  font-family: var(--hymma-typeface-mono);
  font-size: calc(var(--hymma-type-size-unitless-small) * 1em);
  background-color: hsla(var(--hymma-text-color), 0.95);
}
.c-hymma-code:last-child {
  margin-bottom: 0;
}
.c-hymma-code-block .c-hymma-code {
  display: block;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
  padding: var(--hymma-v-spacing-medium) var(--hymma-h-spacing-small);
  font-size: 1em;
}

.c-hymma-code-block {
  position: relative;
  display: flex;
  font-size: var(--hymma-type-size-xsmall);
  -webkit-backdrop-filter: blur(0.15rem);
  backdrop-filter: blur(0.15rem);
}
.c-hymma-code-block:before {
  content: attr(data-code);
  position: absolute;
  right: var(--hymma-h-spacing-xsmall);
  bottom: var(--hymma-v-spacing-xsmall);
  line-height: 1;
  text-transform: uppercase;
  font-family: var(--hymma-typeface-heading);
  font-size: var(--hymma-type-size-xxlarge);
}
.c-hymma-code-block:not([data-code]):before {
  display: none;
}

/* ------------------------------------ *\
   End Credits
\* ------------------------------------ */
.c-hymma-end-credits {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: var(--hymma-v-spacing-medium);
  list-style: none;
}
.c-hymma-end-credits:last-child {
  margin-bottom: 0;
}
.c-hymma-end-credits .c-hymma-end-credits__item {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--hymma-h-spacing-medium);
  grid-row-gap: var(--hymma-v-spacing-medium);
  margin-bottom: var(--hymma-v-spacing-small);
  word-break: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  border-bottom: 2px dotted hsla(var(--hymma-text-color), 0.1);
}
.c-hymma-end-credits .c-hymma-end-credits__item:last-child {
  margin-bottom: 0;
}
.c-hymma-end-credits .c-hymma-end-credits__item > *:nth-child(odd) {
  font-family: var(--hymma-typeface-smallcap);
  text-align: start;
}
.c-hymma-end-credits .c-hymma-end-credits__item > *:nth-child(even) {
  font-style: italic;
  text-align: end;
}

/* ------------------------------------ *\
   Input
\* ------------------------------------ */
.c-hymma-input {
  border-radius: 0.75rem;
  box-shadow: 0 0 0 1px hsla(var(--hymma-link-color), 0.2);
  display: inline-flex;
  height: calc(var(--hymma-v-spacing-small) * 2 + var(--hymma-line-height-tight) * var(--hymma-type-size-small));
  margin: 0;
  padding-top: 0;
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: 0;
  padding-left: var(--hymma-h-spacing-small);
  font-family: var(--hymma-typeface-body);
  font-weight: 400;
  font-size: var(--hymma-type-size-small);
  border: 0;
  background-color: hsla(var(--hymma-link-color), 0.05);
  background-image: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: box-shadow 200ms ease-out;
  transition: box-shadow 200ms ease-out;
}
.c-hymma-input:hover {
  box-shadow: 0 0 0 1px hsla(var(--hymma-link-color), 0.4);
}
.c-hymma-input:focus {
  box-shadow: 0 0 0 1px hsla(var(--hymma-link-color), 0.8);
}
.c-hymma-input.is-comfortable {
  height: calc(var(--hymma-v-spacing-large) * 2 + var(--hymma-line-height-tight) * var(--hymma-type-size-large));
  padding-right: var(--hymma-h-spacing-medium);
  padding-left: var(--hymma-h-spacing-medium);
  font-size: var(--hymma-type-size-large);
}
.c-hymma-input.is-compact {
  height: calc(var(--hymma-v-spacing-xsmall) * 2 + var(--hymma-line-height-tight) * var(--hymma-type-size-xsmall));
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
  font-size: var(--hymma-type-size-xsmall);
}

.c-hymma-input--block {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: var(--hymma-v-spacing-medium);
  margin-left: 0;
}
.c-hymma-input--block:last-child {
  margin-bottom: 0;
}

/* ------------------------------------ *\
   Link
\* ------------------------------------ */
.c-hymma-link {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: hsl(var(--hymma-link-color));
  text-decoration: none;
  box-shadow: 0 -0.125em 0 hsla(var(--hymma-link-color), 0.1) inset;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.c-hymma-link:visited {
  color: hsl(var(--hymma-text-color));
  box-shadow: 0 -0.125em 0 hsla(var(--hymma-text-color), 0.1) inset;
}
.c-hymma-link:hover {
  color: hsl(var(--hymma-link-color));
  box-shadow: 0 -0.375em 0 hsla(var(--hymma-link-color), 0.2) inset;
}
.c-hymma-link:focus {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
  outline: none;
}
.c-hymma-link:active {
  color: hsl(var(--hymma-text-color));
  box-shadow: none;
  background-color: hsla(var(--hymma-text-color), 0.1);
}

.c-hymma-link--expand-click-target:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* ------------------------------------ *\
   List
\* ------------------------------------ */
.c-hymma-list {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: var(--hymma-v-spacing-medium);
  list-style: none;
}
.c-hymma-list:last-child {
  margin-bottom: 0;
}

.c-hymma-list__item {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.c-hymma-list--unordered .c-hymma-list__item {
  position: relative;
  margin-bottom: var(--hymma-v-spacing-xsmall);
}
.c-hymma-list--unordered .c-hymma-list__item:last-child {
  margin-bottom: 0;
}
.c-hymma-list--unordered .c-hymma-list__item:before {
  position: absolute;
  left: calc(var(--hymma-h-spacing-xxsmall) * -1);
  content: "⁙";
  color: hsla(var(--hymma-text-color), 0.4);
  transform: translateX(-0.5em);
}

.c-hymma-list--ordered {
  counter-reset: ordered-list-item;
}
.c-hymma-list--ordered .c-hymma-list__item {
  position: relative;
  margin-bottom: var(--hymma-v-spacing-xsmall);
  counter-increment: ordered-list-item;
}
.c-hymma-list--ordered .c-hymma-list__item:last-child {
  margin-bottom: 0;
}
.c-hymma-list--ordered .c-hymma-list__item:before {
  position: absolute;
  left: calc(var(--hymma-h-spacing-xxsmall) * -1);
  content: counter(ordered-list-item);
  color: hsla(var(--hymma-text-color), 0.4);
  font-family: var(--hymma-typeface-smallcap);
  transform: translateX(-100%);
}

.c-hymma-list--ordered .c-hymma-list--ordered,
.c-hymma-list--ordered .c-hymma-list--unordered,
.c-hymma-list--unordered .c-hymma-list--ordered,
.c-hymma-list--unordered .c-hymma-list--unordered {
  margin-left: calc(var(--hymma-h-spacing-small) + 0.1rem);
}
.c-hymma-list--ordered .c-hymma-list--ordered .c-hymma-list__item,
.c-hymma-list--ordered .c-hymma-list--unordered .c-hymma-list__item,
.c-hymma-list--unordered .c-hymma-list--ordered .c-hymma-list__item,
.c-hymma-list--unordered .c-hymma-list--unordered .c-hymma-list__item {
  margin-bottom: var(--hymma-v-spacing-xxsmall);
}
.c-hymma-list--ordered .c-hymma-list--ordered .c-hymma-list__item:last-child,
.c-hymma-list--ordered .c-hymma-list--unordered .c-hymma-list__item:last-child,
.c-hymma-list--unordered .c-hymma-list--ordered .c-hymma-list__item:last-child,
.c-hymma-list--unordered .c-hymma-list--unordered .c-hymma-list__item:last-child {
  margin-bottom: 0;
}
.c-hymma-list--ordered.lay-horizontal,
.c-hymma-list--unordered.lay-horizontal {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--hymma-v-spacing-xxsmall) * -1);
  margin-left: calc(var(--hymma-h-spacing-small) * -2.25);
}
.c-hymma-list--ordered.lay-horizontal .c-hymma-list__item,
.c-hymma-list--unordered.lay-horizontal .c-hymma-list__item {
  display: inline-flex;
  margin-top: var(--hymma-v-spacing-xxsmall);
  margin-bottom: 0;
  margin-left: calc(var(--hymma-h-spacing-small) * 2.25);
  vertical-align: middle;
}

.c-hymma-list--bare {
  display: block;
}
.c-hymma-list--bare > .c-hymma-list__item {
  display: block;
  margin-bottom: var(--hymma-v-spacing-medium);
}
.c-hymma-list--bare > .c-hymma-list__item:last-child {
  margin-bottom: 0;
}
.c-hymma-list--bare.lay-horizontal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--hymma-list-item-basis, 250px), 1fr));
  grid-gap: var(--hymma-h-spacing-medium);
}
.c-hymma-list--bare.is-comfortable > .c-hymma-list__item {
  margin-bottom: var(--hymma-v-spacing-large);
}
.c-hymma-list--bare.is-comfortable > .c-hymma-list__item:last-child {
  margin-bottom: 0;
}
.c-hymma-list--bare.is-comfortable.lay-horizontal {
  margin-top: calc(var(--hymma-v-spacing-large) * -1);
  margin-left: calc(var(--hymma-h-spacing-large) * -1);
}
.c-hymma-list--bare.is-comfortable.lay-horizontal > .c-hymma-list__item {
  margin-top: var(--hymma-v-spacing-large);
  margin-bottom: 0;
  margin-left: var(--hymma-h-spacing-large);
}
.c-hymma-list--bare.is-compact > .c-hymma-list__item {
  margin-bottom: var(--hymma-v-spacing-small);
}
.c-hymma-list--bare.is-compact > .c-hymma-list__item:last-child {
  margin-bottom: 0;
}
.c-hymma-list--bare.is-compact.lay-horizontal {
  margin-top: calc(var(--hymma-v-spacing-small) * -1);
  margin-left: calc(var(--hymma-h-spacing-xsmall) * -1);
}
.c-hymma-list--bare.is-compact.lay-horizontal > .c-hymma-list__item {
  margin-top: var(--hymma-v-spacing-small);
  margin-bottom: 0;
  margin-left: var(--hymma-h-spacing-xsmall);
}

.c-hymma-list--inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: calc(var(--hymma-v-spacing-small) * -1);
  margin-left: calc(var(--hymma-h-spacing-small) * -1);
}
.c-hymma-list--inline > .c-hymma-list__item {
  display: inline-flex;
  margin-top: var(--hymma-v-spacing-small);
  margin-bottom: 0;
  margin-left: var(--hymma-h-spacing-small);
  vertical-align: basline;
}
.c-hymma-list--inline.is-compact {
  margin-top: calc(var(--hymma-v-spacing-xsmall) * -1);
  margin-left: calc(var(--hymma-h-spacing-xsmall) * -1);
}
.c-hymma-list--inline.is-compact > .c-hymma-list__item {
  margin-top: var(--hymma-v-spacing-xsmall);
  margin-left: var(--hymma-h-spacing-xsmall);
}

.c-hymma-list--ui {
  margin-top: -3px;
  margin-left: -3px;
}
.c-hymma-list--ui > .c-hymma-list__item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  border: 0;
  background: transparent;
  cursor: auto;
  padding-top: var(--hymma-v-spacing-small);
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  margin-left: 3px;
  color: hsl(var(--hymma-text-color));
  background-color: hsla(var(--hymma-text-color), 0.03);
  -webkit-backdrop-filter: blur(0.35rem);
  backdrop-filter: blur(0.35rem);
}
.c-hymma-list--ui > a.c-hymma-list__item,
.c-hymma-list--ui > button.c-hymma-list__item {
  position: relative;
  color: hsl(var(--hymma-text-color));
  cursor: pointer;
  outline: none;
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  width: 100%;
  background-color: transparent;
}
.c-hymma-list--ui > a.c-hymma-list__item::-moz-focus-inner,
.c-hymma-list--ui > button.c-hymma-list__item::-moz-focus-inner {
  border: 0;
}
.c-hymma-list--ui > a.c-hymma-list__item:before,
.c-hymma-list--ui > button.c-hymma-list__item:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; /* Puts the gradient below all content by default. */
  opacity: 0.25;
  pointer-events: none;
  border-radius: inherit;
  background: linear-gradient(216deg, hsla(var(--hymma-color-red-light), 0.6), hsla(var(--hymma-color-red-light), 0) 70.71%), linear-gradient(100deg, hsla(var(--hymma-color-purple-light), 0.6), hsla(var(--hymma-color-purple-light), 0) 70.71%), linear-gradient(336deg, hsla(var(--hymma-color-blue), 0.6), hsla(var(--hymma-color-blue), 0) 70.71%);
  background-blend-mode: darken;
  transition: opacity 200ms ease-out;
}
.c-hymma-list--ui > a.c-hymma-list__item:hover, .c-hymma-list--ui > a.c-hymma-list__item:focus,
.c-hymma-list--ui > button.c-hymma-list__item:hover,
.c-hymma-list--ui > button.c-hymma-list__item:focus {
  color: hsl(var(--hymma-link-color));
}
.c-hymma-list--ui > a.c-hymma-list__item:hover:before,
.c-hymma-list--ui > button.c-hymma-list__item:hover:before {
  opacity: 0.35;
}
.c-hymma-list--ui > a.c-hymma-list__item:focus,
.c-hymma-list--ui > button.c-hymma-list__item:focus {
  box-shadow: 0 0 0 1px hsl(var(--hymma-link-color));
}
.c-hymma-list--ui > a.c-hymma-list__item:focus:before,
.c-hymma-list--ui > button.c-hymma-list__item:focus:before {
  opacity: 0;
}
.c-hymma-list--ui > a.c-hymma-list__item:active,
.c-hymma-list--ui > button.c-hymma-list__item:active {
  color: hsl(var(--hymma-text-color));
  transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);
}
.c-hymma-list--ui > a.c-hymma-list__item:active:before,
.c-hymma-list--ui > button.c-hymma-list__item:active:before {
  opacity: 0.5;
}
.c-hymma-list--ui > a.c-hymma-list__item:before,
.c-hymma-list--ui > button.c-hymma-list__item:before {
  border-radius: 0.75rem;
}
.c-hymma-list--ui > a.c-hymma-list__item:focus,
.c-hymma-list--ui > button.c-hymma-list__item:focus {
  background-color: hsla(var(--hymma-bg-color), 0.95);
  z-index: 1;
}
.c-hymma-list--ui.lay-horizontal {
  display: flex;
  flex-wrap: wrap;
}
.c-hymma-list--ui.lay-horizontal > .c-hymma-list__item {
  flex: 1;
  flex-basis: var(--hymma-list-item-basis, 250px);
}
.c-hymma-list--ui.is-comfortable > .c-hymma-list__item {
  padding-top: var(--hymma-v-spacing-large);
  padding-right: var(--hymma-h-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-large);
  padding-left: var(--hymma-h-spacing-medium);
}
.c-hymma-list--ui.is-compact > .c-hymma-list__item {
  padding-top: var(--hymma-v-spacing-xsmall);
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-bottom: var(--hymma-v-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
}

.c-hymma-list--align-start {
  justify-content: flex-start;
}

.c-hymma-list--align-center {
  justify-content: center;
}

.c-hymma-list--align-end {
  justify-content: flex-end;
}

.c-hymma-list--align-justify {
  justify-content: space-between;
}

.c-hymma-list--valign-center {
  align-items: center;
}

/* ------------------------------------ *\
   Plane
\* ------------------------------------ */
.c-hymma-plane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
}
.c-hymma-plane > * {
  width: 100%;
}

/* Plane trendy gradient */
.c-hymma-plane--trendy:after,
.c-hymma-plane--trendy-af:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(216deg, hsla(var(--hymma-color-gold), 0.6), hsla(var(--hymma-color-gold), 0) 70.71%), linear-gradient(100deg, hsla(var(--hymma-color-orange-light), 0.6), hsla(var(--hymma-color-orange-light), 0) 70.71%), linear-gradient(336deg, hsla(var(--hymma-color-green-light), 0.6), hsla(var(--hymma-color-green-light), 0) 70.71%);
  background-blend-mode: darken;
  opacity: 0.2;
}

.c-hymma-plane--trendy-af:after {
  opacity: 0.6; /* Makes the gradient stronger. */
}

.c-hymma-plane--h-inset-xxlarge {
  padding-right: var(--hymma-h-spacing-xxlarge);
  padding-left: var(--hymma-h-spacing-xxlarge);
}

.c-hymma-plane--h-inset-xlarge {
  padding-right: var(--hymma-h-spacing-xlarge);
  padding-left: var(--hymma-h-spacing-xlarge);
}

.c-hymma-plane--h-inset-large {
  padding-right: var(--hymma-h-spacing-large);
  padding-left: var(--hymma-h-spacing-large);
}

.c-hymma-plane--h-inset-medium {
  padding-right: var(--hymma-h-spacing-medium);
  padding-left: var(--hymma-h-spacing-medium);
}

.c-hymma-plane--h-inset-small {
  padding-right: var(--hymma-h-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
}

.c-hymma-plane--h-inset-xsmall {
  padding-right: var(--hymma-h-spacing-xsmall);
  padding-left: var(--hymma-h-spacing-xsmall);
}

.c-hymma-plane--h-inset-xxsmall {
  padding-right: var(--hymma-h-spacing-xxsmall);
  padding-left: var(--hymma-h-spacing-xxsmall);
}

/* Plane inset spacing options */
.c-hymma-plane--v-inset-xxlarge {
  padding-top: var(--hymma-v-spacing-xxlarge);
  padding-bottom: var(--hymma-v-spacing-xxlarge);
}
.c-hymma-plane--v-inset-xxlarge .c-hymma-plane-deck {
  min-height: var(--hymma-v-spacing-xxlarge);
}
.c-hymma-plane--v-inset-xxlarge .c-hymma-plane-deck--upper {
  margin-top: calc(var(--hymma-v-spacing-xxlarge) * -1);
}
.c-hymma-plane--v-inset-xxlarge .c-hymma-plane-deck--lower {
  margin-bottom: calc(var(--hymma-v-spacing-xxlarge) * -1);
}

.c-hymma-plane--v-inset-xlarge {
  padding-top: var(--hymma-v-spacing-xlarge);
  padding-bottom: var(--hymma-v-spacing-xlarge);
}
.c-hymma-plane--v-inset-xlarge .c-hymma-plane-deck {
  min-height: var(--hymma-v-spacing-xlarge);
}
.c-hymma-plane--v-inset-xlarge .c-hymma-plane-deck--upper {
  margin-top: calc(var(--hymma-v-spacing-xlarge) * -1);
}
.c-hymma-plane--v-inset-xlarge .c-hymma-plane-deck--lower {
  margin-bottom: calc(var(--hymma-v-spacing-xlarge) * -1);
}

.c-hymma-plane--v-inset-large {
  padding-top: var(--hymma-v-spacing-large);
  padding-bottom: var(--hymma-v-spacing-large);
}
.c-hymma-plane--v-inset-large .c-hymma-plane-deck {
  min-height: var(--hymma-v-spacing-large);
}
.c-hymma-plane--v-inset-large .c-hymma-plane-deck--upper {
  margin-top: calc(var(--hymma-v-spacing-large) * -1);
}
.c-hymma-plane--v-inset-large .c-hymma-plane-deck--lower {
  margin-bottom: calc(var(--hymma-v-spacing-large) * -1);
}

.c-hymma-plane--v-inset-medium {
  padding-top: var(--hymma-v-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-medium);
}
.c-hymma-plane--v-inset-medium .c-hymma-plane-deck {
  min-height: var(--hymma-v-spacing-medium);
}
.c-hymma-plane--v-inset-medium .c-hymma-plane-deck--upper {
  margin-top: calc(var(--hymma-v-spacing-medium) * -1);
}
.c-hymma-plane--v-inset-medium .c-hymma-plane-deck--lower {
  margin-bottom: calc(var(--hymma-v-spacing-medium) * -1);
}

.c-hymma-plane--v-inset-small {
  padding-top: var(--hymma-v-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
}
.c-hymma-plane--v-inset-small .c-hymma-plane-deck {
  min-height: var(--hymma-v-spacing-small);
}
.c-hymma-plane--v-inset-small .c-hymma-plane-deck--upper {
  margin-top: calc(var(--hymma-v-spacing-small) * -1);
}
.c-hymma-plane--v-inset-small .c-hymma-plane-deck--lower {
  margin-bottom: calc(var(--hymma-v-spacing-small) * -1);
}

.c-hymma-plane--v-inset-xsmall {
  padding-top: var(--hymma-v-spacing-xsmall);
  padding-bottom: var(--hymma-v-spacing-xsmall);
}
.c-hymma-plane--v-inset-xsmall .c-hymma-plane-deck {
  min-height: var(--hymma-v-spacing-xsmall);
}
.c-hymma-plane--v-inset-xsmall .c-hymma-plane-deck--upper {
  margin-top: calc(var(--hymma-v-spacing-xsmall) * -1);
}
.c-hymma-plane--v-inset-xsmall .c-hymma-plane-deck--lower {
  margin-bottom: calc(var(--hymma-v-spacing-xsmall) * -1);
}

.c-hymma-plane--v-inset-xxsmall {
  padding-top: var(--hymma-v-spacing-xxsmall);
  padding-bottom: var(--hymma-v-spacing-xxsmall);
}
.c-hymma-plane--v-inset-xxsmall .c-hymma-plane-deck {
  min-height: var(--hymma-v-spacing-xxsmall);
}
.c-hymma-plane--v-inset-xxsmall .c-hymma-plane-deck--upper {
  margin-top: calc(var(--hymma-v-spacing-xxsmall) * -1);
}
.c-hymma-plane--v-inset-xxsmall .c-hymma-plane-deck--lower {
  margin-bottom: calc(var(--hymma-v-spacing-xxsmall) * -1);
}

/* Reset typography */
.c-hymma-plane,
.c-hymma-plane-deck,
.c-hymma-plane-deck__content,
.c-hymma-plane-cabin {
  font-size: unset;
  font-family: unset;
  font-weight: unset;
  line-height: unset;
}

/* Plane cabin and deck */
.c-hymma-plane-deck,
.c-hymma-plane-cabin {
  position: relative;
}

.c-hymma-plane-cabin {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.c-hymma-plane-deck {
  display: flex;
  margin: 0;
}
.c-hymma-plane-deck--upper {
  align-items: flex-start;
}
.c-hymma-plane-deck--lower {
  align-items: flex-end;
}
.c-hymma-plane-deck__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin-top: var(--hymma-v-spacing-small);
  margin-right: calc(var(--hymma-h-spacing-xsmall) / 2 * -1);
  margin-bottom: var(--hymma-v-spacing-small);
  margin-left: calc(var(--hymma-h-spacing-xsmall) / 2 * -1);
}
.c-hymma-plane-deck__content__item {
  padding-right: calc(var(--hymma-h-spacing-xsmall) / 2);
  padding-left: calc(var(--hymma-h-spacing-xsmall) / 2);
}
.c-hymma-plane-deck__content__item--start {
  margin-right: auto;
  margin-left: 0;
}
.c-hymma-plane-deck__content__item--end {
  margin-right: 0;
  margin-left: auto;
}
.c-hymma-plane-deck__content__item--center {
  margin-right: auto;
  margin-left: auto;
}

/* Plane width options */
.c-hymma-plane--article-width .c-hymma-plane-deck,
.c-hymma-plane--article-width .c-hymma-plane-cabin {
  max-width: min(80vw, 75ch);
  margin-right: auto;
  margin-left: auto;
}

.c-hymma-plane--large-width .c-hymma-plane-deck,
.c-hymma-plane--large-width .c-hymma-plane-cabin {
  max-width: min(90vw, 62.5em);
  margin-right: auto;
  margin-left: auto;
}

.c-hymma-plane--xlarge-width .c-hymma-plane-deck,
.c-hymma-plane--xlarge-width .c-hymma-plane-cabin {
  max-width: min(90vw, 75em);
  margin-right: auto;
  margin-left: auto;
}

/* Plane height options */
.c-hymma-plane--full-height {
  min-height: 100vh;
}

/* Plane background */
.c-hymma-plane-background {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-clip-path: inset(0);
  clip-path: inset(0);
}
.c-hymma-plane-background img {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Stacking context */
.c-hymma-plane-deck,
.c-hymma-plane-cabin {
  z-index: 2; /* Places cabin and deck above background and gradient. */
}

.c-hymma-plane--trendy:after {
  z-index: 1; /* Places the gradient below cabin and deck. */
}

.c-hymma-plane-background {
  z-index: 0; /* Places background below cabin and deck. */
}

/*------------------------------------*\
  Text
\*------------------------------------*/
/* Type Options */
.c-hymma-text {
  text-shadow: 1px 1px 1px hsla(var(--hymma-bg-color), 0.6);
  font-family: var(--hymma-typeface-body);
  font-weight: var(--hymma-custom-font-text-weight, 300);
}

.c-hymma-text--heading {
  letter-spacing: -0.025em;
  text-shadow: 0 0 0 hsla(var(--hymma-text-color), 0.4);
  font-family: var(--hymma-typeface-heading);
  font-weight: var(--hymma-custom-font-heading-weight, 900);
}
.c-hymma-text--heading.c-hymma-text--xsmall {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: var(--hymma-typeface-smallcap);
  font-weight: var(--hymma-custom-font-xsmall-heading-weight, 800);
}

.c-hymma-text--lede {
  font-family: var(--hymma-typeface-smallcap);
  font-weight: var(--hymma-custom-font-lede-weight, 200);
}

/* Size Options */
.c-hymma-text--xxlarge {
  font-size: var(--hymma-type-size-xxlarge);
}

.c-hymma-text--xlarge,
.c-hymma-text--lede {
  font-size: var(--hymma-type-size-xlarge);
}

.c-hymma-text--large {
  font-size: var(--hymma-type-size-large);
}

.c-hymma-text--medium {
  font-size: var(--hymma-type-size-medium);
}

.c-hymma-text--small {
  font-size: var(--hymma-type-size-small);
}

.c-hymma-text--xsmall {
  font-size: var(--hymma-type-size-xsmall);
}

.c-hymma-text--display {
  font-size: clamp(var(--hymma-type-size-xxxlarge-min), var(--hymma-type-size-xxlarge) + 6vw, var(--hymma-type-size-xxxlarge-max));
}

.c-hymma-text--xlarge,
.c-hymma-text--xxlarge,
.c-hymma-text--display {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* Line Height */
.c-hymma-text {
  line-height: var(--hymma-line-height-regular);
}

.c-hymma-text--lede {
  line-height: var(--hymma-line-height-xtight);
}

.c-hymma-text--heading {
  line-height: var(--hymma-line-height-tight);
}
.c-hymma-text--heading.c-hymma-text--xxlarge, .c-hymma-text--heading.c-hymma-text--xlarge {
  line-height: var(--hymma-line-height-xtight);
}
.c-hymma-text--heading.c-hymma-text--display {
  line-height: var(--hymma-line-height-xtight);
  /* Defaults to all media */
  /* Set both min and max */
  /* Set orientation */
}
@media (min-width: 37.5em) {
  .c-hymma-text--heading.c-hymma-text--display {
    line-height: var(--hymma-line-height-xxtight);
  }
}

/* Display Options */
.c-hymma-text {
  display: inline;
  margin: 0;
}

.c-hymma-text--block {
  display: block;
  width: 100%;
}
.c-hymma-text--block:not(.c-hymma-text--heading) {
  margin-bottom: var(--hymma-v-spacing-medium);
}
.c-hymma-text--block.c-hymma-text--heading {
  margin-bottom: var(--hymma-v-spacing-xsmall);
}
.c-hymma-text--block.c-hymma-text--heading.c-hymma-text--xxlarge {
  margin-bottom: var(--hymma-v-spacing-medium);
  padding-top: var(--hymma-v-spacing-medium);
  padding-bottom: var(--hymma-v-spacing-xsmall);
}
.c-hymma-text--block.c-hymma-text--heading.c-hymma-text--xxlarge:first-child {
  padding-top: 0;
}
.c-hymma-text--block.c-hymma-text--heading.c-hymma-text--xxlarge:after {
  content: "";
  display: block;
  position: absolute;
  width: var(--hymma-h-spacing-large);
  height: 0.1666rem;
  color: inherit;
  background-color: currentColor;
  opacity: 0.05;
  -webkit-transform: translateY(var(--hymma-v-spacing-xsmall));
  transform: translateY(var(--hymma-v-spacing-xsmall));
}
.c-hymma-text--block.c-hymma-text--heading.c-hymma-text--display {
  margin-bottom: var(--hymma-v-spacing-xsmall);
  margin-left: -0.05em;
}
.c-hymma-text--block:last-child {
  margin-bottom: 0;
}

/* Heading Link */
.c-hymma-text--heading .c-hymma-link {
  box-shadow: none;
}
.c-hymma-text--heading .c-hymma-link:hover {
  text-decoration: underline;
}

/* Gradient Heading */
.c-hymma-text--trendy {
  background-image: linear-gradient(to right, hsl(var(--hymma-color-purple-dark)) 0%, hsl(var(--hymma-color-red-dark)) 8%, hsl(var(--hymma-color-blue-dark)) 40%, hsl(var(--hymma-color-purple)) 66%, hsl(var(--hymma-color-orange-dark)) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  -webkit-background-clip: text;
  background-color: initial;
  -webkit-text-fill-color: transparent;
}

/*------------------------------------*\
  Toast
\*------------------------------------*/
.c-hymma-toast {
  padding-top: var(--hymma-v-spacing-small);
  padding-right: var(--hymma-h-spacing-small);
  padding-bottom: var(--hymma-v-spacing-small);
  padding-left: var(--hymma-h-spacing-small);
  border-radius: 0.75rem;
  display: block;
  width: min(50vw, 25ch);
  border: 1px solid hsla(var(--hymma-link-color), 0.2);
  border-right: 0.4rem solid hsla(var(--hymma-link-color), 0.2);
  border-left: 0.4rem solid hsla(var(--hymma-link-color), 0.2);
  background-color: hsla(var(--hymma-bg-color), 0.8);
  -webkit-backdrop-filter: blur(0.35rem);
  backdrop-filter: blur(0.35rem);
}

.c-hymma-toast--bottom {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  z-index: 5;
  transform: translate3d(-50%, 0, 0);
}

.u-hymma-max-height-100 {
  max-height: 100% !important;
}

.u-hymma-min-height-100 {
  min-height: 100% !important;
}

.u-hymma-height-100 {
  height: 100% !important;
}

.u-hymma-margin-top-auto {
  margin-top: auto !important;
}

.u-hymma-margin-bottom-auto {
  margin-bottom: auto !important;
}

.u-hymma-overflow-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.u-hymma-text-align-start {
  text-align: left !important;
  text-align: start !important;
}

.u-hymma-text-align-end {
  text-align: right !important;
  text-align: end !important;
}

.u-hymma-text-align-justify {
  text-align: justify !important;
}

.u-hymma-text-align-center {
  text-align: center !important;
}

.u-hymma-visuallyhidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  white-space: nowrap !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
}

.u-hymma-hidden {
  display: none !important;
}

.u-hymma-white-space-nowrap {
  white-space: nowrap !important;
}

:root,
.cs-hymma-light {
  color: hsl(var(--hymma-text-color)) !important;
  background-color: hsl(var(--hymma-bg-color)) !important;
}

.cs-hymma-dark {
  /* Set the regular light theme colors */
  color: hsl(var(--hymma-text-color)) !important;
  background-color: hsl(var(--hymma-bg-color)) !important;
  /* Then invert the colors */
  filter: invert(100%) !important;
  /* Preserving raster images and embeds */
}
.cs-hymma-dark img:not([src*=".svg"]),
.cs-hymma-dark video,
.cs-hymma-dark embed,
.cs-hymma-dark iframe,
.cs-hymma-dark emoji {
  filter: invert(100%) !important;
}

@media (prefers-color-scheme: dark) {
  .cs-hymma-auto {
    /* Set the regular light theme colors */
    color: hsl(var(--hymma-text-color)) !important;
    background-color: hsl(var(--hymma-bg-color)) !important;
    /* Then invert the colors */
    filter: invert(100%) !important;
    /* Preserving raster images and embeds */
  }
  .cs-hymma-auto img:not([src*=".svg"]),
.cs-hymma-auto video,
.cs-hymma-auto embed,
.cs-hymma-auto iframe,
.cs-hymma-auto emoji {
    filter: invert(100%) !important;
  }
}
.cs-hymma-switch {
  border-radius: 100em;
  box-shadow: 0 0 0 0.1666rem hsla(var(--hymma-link-color), 0.2);
  display: grid;
  place-items: center;
  position: relative;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
}
.cs-hymma-switch:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: hsl(var(--hymma-link-color));
  box-shadow: none;
  transition: inherit;
}

.cs-hymma-switch__text {
  display: none;
}

input#color-scheme {
  position: absolute;
  top: -200vh;
  left: -200vw;
}
input#color-scheme:focus:before {
  border-radius: 3px;
  content: "Press space bar to switch color scheme.\aTap anywhere to exit.";
  display: block;
  position: fixed;
  top: 1vh;
  left: 1vw;
  z-index: 7;
  padding: var(--hymma-v-spacing-xsmall) var(--hymma-h-spacing-xsmall);
  font-size: var(--hymma-type-size-xxsmall);
  font-family: var(--hymma-typeface-heading);
  font-weight: var(--hymma-custom-font-heading-weight, 900);
  line-height: var(--hymma-line-height-xxsmall);
  color: hsl(var(--hymma-text-color));
  white-space: pre-wrap;
  pointer-events: none;
  background-color: hsla(var(--hymma-bg-color), 0.6);
}
input#color-scheme:checked ~ * .cs-hymma-switch {
  box-shadow: none;
}
input#color-scheme:checked ~ * .cs-hymma-switch:after {
  background-color: transparent;
  box-shadow: inset -6px -2px 0 1px hsl(var(--hymma-link-color));
}
input#color-scheme:checked ~ * .cs-hymma-switch:hover:after {
  box-shadow: inset -6px -4px 0 1px hsl(var(--hymma-link-color));
}
input#color-scheme:checked ~ *:not(.cs-hymma-dark) {
  /* Set the regular light theme colors */
  color: hsl(var(--hymma-text-color)) !important;
  background-color: hsl(var(--hymma-bg-color)) !important;
  /* Then invert the colors */
  filter: invert(100%) !important;
  /* Preserving raster images and embeds */
}
input#color-scheme:checked ~ *:not(.cs-hymma-dark) img:not([src*=".svg"]),
input#color-scheme:checked ~ *:not(.cs-hymma-dark) video,
input#color-scheme:checked ~ *:not(.cs-hymma-dark) embed,
input#color-scheme:checked ~ *:not(.cs-hymma-dark) iframe,
input#color-scheme:checked ~ *:not(.cs-hymma-dark) emoji {
  filter: invert(100%) !important;
}

/*# sourceMappingURL=main.css.map */
